<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 자동으로 카멜케이스 규칙으로 변환 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<setting name="jdbcTypeForNull" value="NULL" />

	</settings>

	<!-- 별칭 생성, mapper에서 별칭을 사용할 수 있다. -->

	<typeAliases>
		<!-- <typeAlias type="com.bc.mybatis.GuestbookVO" alias="guestbookVO" /> -->

		
	</typeAliases>

	<!-- mappers는 여러개 등록 가능하다. -->
	<mappers>
		<!-- <mapper resource="mapping/AdminMapper.xml" /> -->
		
	</mappers>


</configuration>